/*uc fix*/
.ZInput .ts-box { top: -20px; font-size: 16px; }
.step-6 p { font-size: 16px; }
.step-6 .s-2 .btn-form { line-height: 400%; font-size: 14px; }
.step-6 .s-3 .result-box p { font-size: 25px; }
.step-6 .s-3 .p-2 { font-size: 16px; }
.step-6 .s-4 .p-1 { font-size: 16px; }
.step-6 .s-4 .p-2 { font-size: 12px; }